
<div class="content_accueil">
  <div class="content_accueil_text">
    <div class="background_red">
      <h1>Digital Campus n°1 des écoles du digital</h1>
    </div>
    <p>
      Parce que la réussite d’un projet passe par l’humain et l’intelligence
      collective, nous avons fait le choix de créer bien plus qu’une école, mais
      un réseau en constante interaction de 10 campus regroupant plus de 2 000
      étudiants en France et à l’étranger.
    </p>
    <img src="https://www.moncoach-web.fr/wp-content/uploads/2017/03/semaine-digitale-bordeaux-2013.jpg" alt="weAreDC">
    <p>Créativité, excellence et partage sont les valeurs que nous portons à travers une pédagogie active, engagée et innovante. </p>
    <p>Ensemble, nous voulons changer le monde et avoir un impact positif sur nos sociétés, l’économie et l’environnement.</p>
    <p>Terre d’échange et de création, espace de jeu, d’information et de communication le digital est présent à chaque instant de notre vie.</p>
    <p>Vous êtes créatif, ingénieux et curieux ?</p>
    <p>Vous êtes à l’affût des dernières innovations et vous aimeriez participer à leurs développements ?</p>
    <p>Vous bouillonnez d’idées et avez soif d’entreprendre?</p>
    <p>Alors vous êtes fait pour Digital Campus !</p>
  </div>

  <div class="content_accueil_text">
    <div class="background_red">
      <h2>Une pédagogie innovante</h2> 
    </div>
    <img src="https://cache.media.eduscol.education.fr/image/Numerique/50/2/vie_etudiante_servicesnumeriques_506502.jpg" alt="pedagogie">
    <p>Digital Campus a mis en place depuis sa création une pédagogie active basée sur le learning by doing. A travers cette pédagogie agile et inversée, l’intervenant accompagne chaque apprenant à faire par la réalisation de projets tout au long de son cursus.</p> 
    <p>A Digital Campus, ce sont plus de 400 intervenants qui interviennent sur tout le réseau, avec une proportion de 95% de professionnels en activité, et des entreprises partenaires telles que Safran, Orange, la SNCF, AT Internet, Groupama, Pernod Ricard ou encore IBM, impliquées dans les processus de construction de nos cursus et attirées par notre réactivité ainsi que par l’aspect hautement professionnalisant de nos formations qui devient ensuite un vivier de recrutement.</p>
  </div>

  <div class="content_accueil_text">
    <div class="background_red">
      <h2>Les LABS digital Campus</h2> 
    </div>
    <p> Les Labs sont les centres de ressources des 3 domaines d’expertise de Digital Campus :</p>
    <ul>
      <li>Lab Design</li>
      <li>Lab Développement</li>
      <li>Lab Marketing</li>
    </ul>

    <p>Véritable bouillon de culture où émergent les tendances, se partagent les expertises et grandissent les talents. C’est à l’intérieur des Labs que s’élabore le meilleur de chaque domaine de compétences digitales. Lors de votre parcours, vous serez amené à choisir l’un des 3 Labs en fonction du domaine d’expertise que vous souhaiterez développer pendant vos études. Selon le Lab que vous aurez intégré vous aurez accès à de nombreux avantages.</p> 
    <img src="https://ac-projet3-g1.guillaume-meyer.fr/wp-content/uploads/2020/05/elear.jpg" alt="ApprenantsDC">
    <p>Chaque Lab :</p> 
    <ul>
      <li>A un référent national</li>
      <li>Est soutenu par un parrain / marraine</li>
      <li>Met à disposition de nombreux projets dédiés</li>
      <li>Fait vivre et partage un support de veille et de communication propre à son secteur</li>
      <li>Propose un calendrier des conférences de son domaine mis à disposition pour l’ensemble des villes (toutes les conférences des labs sont diffusées en Live et/ou en différé)</li>
      <li>Tient à jour un centre de ressources pédagogiques reposant sur le catalogue de formations elearning du réseau.</li>
      <li>A son propre comité de compétence, composé d’experts.</li>
    </ul>
  </div>

  <div class="content_accueil_text">
    <div class="background_red">
      <h2>Les labs selon votre année d’étude :</h2> 
    </div>
    <ul>
      <li>Année 1 « Savoir cartographier l’univers digital » </li>
      <li>Année 2 « Se projeter dans sa future spécialité »</li>
      <li>Année 3 « S’immerger dans le marketing, le design ou le développement »</li>
      <li>Année de Prépa Mastère « Choisir son orientation en mastère »</li>
      <li>Année 4 « Maîtriser les enjeux de sa spécialité »</li>
      <li>Année 5 « Etre un expert reconnu de sa spécialité »</li>
    </ul>
  </div>

  <div class="content_accueil_text">
    <div class="background_red">
      <h2>Des structures et des outils à la pointe</h2> 
    </div>
    <ul>
      <li>De salles à projet configurées selon des normes de haute exigence de type Steelcase, conçues pour faciliter le travail de groupe (tables et sièges à roulettes, sièges Node), et pourvues d’un équipement de visioconférence.</li>
      <li>De salles favorisant l’application d’une pédagogie axée sur le développement des compétences professionnelles : « apprendre en faisant, et non plus en écoutant ».</li>
      <li>De salles équipées d’ordinateurs Mac et Pc.</li>
      <li>D’espaces de coworking pour le travail en équipe.</li>
      <li>D’un ou plusieurs espaces Lab, centres de ressources (veille, conférences, base de connaissance, échanges entre experts, expérimentation), équipés d’outils favorisant la créativité.</li>
      <li>D’une plateforme digitale : le DC Learn.</li>
    </ul>
    <img src="https://ac-projet3-g1.guillaume-meyer.fr/wp-content/uploads/2020/05/images.jpg" alt="imageConference">
    <p>Nous sommes également fiers de faire partie des 10 meilleures écoles du web selon le classement du Figaro Etudiant.</p>
  </div>

  <div class="content_accueil_text">
    <div class="background_red">
      <h2>E-LEARNING</h2> 
    </div>
    <p>Le DC Learn, la plateforme de elearning de Digital Campus offre la possibilité aux écoles de travailler à la fois en blended Learning mais également en full elearning.</p>
    <div class="background_red">
      <h3>Qu’est-ce que le blended Learning ?</h3> 
    </div>
    <p>Le blended learning, méthode aussi connue sous le terme de pédagogie inversée, est l’association d’un apprentissage en classe et d’un apprentissage en ligne utilisant des ressources numériques telles que des vidéos, des quiz et autres format. Ce qui vous permet : – Sur des temps d’autonomie, de préparer vos cours en amont des séances en classe avec vos formateurs. – En classe, de travailler sur la vérification des acquisitions de compétences par la mise en pratique et les projets. – D’avancer à votre rythme et selon votre niveau de compétence</p>
    <img src="https://comin.madmagz.news/wp-content/uploads/sites/2/2018/06/eLearning.png" alt="elearning">
    <div class="background_red">
      <h3>Le full elearning ou cours digitalisés, vous permet :</h3> 
    </div>
    <ul>
      <li>De suivre des cours de votre choix, sélectionnés par la Direction Pédagogique et identifiés dans le catalogue de cours digitalisés de votre année de cursus.</li>
      <li>Renforcer certaines de vos compétences, ou découvrir des matières non dispensées directement dans votre cursus.</li>
      <li>De partir une année en stage à l’étranger tout en suivant votre année de formation à distance via la plateforme DC Learn.</li>
    </ul>
    <p>Partir en stage et formation à l’étranger sans subir une année de césure ? Oui c’est ce que nous vous proposons, en mettant à disposition l’ensemble du programme de votre année Digital Campus sur DC Learn.</p>
    <p>Après 1 mois de bootcamp intensif dans une des écoles Digital Campus, partez en stage aux 4 coins du monde et suivez vos cours à distance. Tout au long de votre parcours, vous serez suivi par un coach professionnel, avec lequel vous ferez un bilan régulier sur les acquisitions de compétences. Selon le pays choisi, nous vous proposerons de bénéficier de partenariats exclusifs, avec des regroupements d’entreprises spécialisées dans le digital : Les Hubs de DC, dans lesquels des coachs pourront vous recevoir tous les mois dans le pays où vous serez en stage et partager avec vous un réseau professionnel de grande qualité.</p>
    <img src="https://www.sbxinfo.fr/img/slider/350-7-re-seau.jpg" alt="reseauPro">
  </div>
</div>