
<div id="header_content" class="center_item">
  <div>
    <a routerLink="/"><img src="https://ac-projet3-g1.guillaume-meyer.fr/wp-content/uploads/2020/04/cropped-cropped-Logo_DC_Blanc-1-300x122.png" alt="LogoDC"></a>
  </div>
  <div class="btn-event">
    <a class="btn-header" href="https://ac-projet3-g1.guillaume-meyer.fr/forums/" target="_blank">Forum</a>
    <a class="btn-header" href="https://www.digital-campus.fr/contact/formulaire-etudiant?utm_source=fb&utm_medium=smo&utm_campaign=20150224-bouton-contact" target="_blank">Contact</a>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="actualite">Actualité</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="labdev">Lab Développement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="labmark">Lab Marketing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="labdes">Lab Design</a>
        </li>
      </ul>
    </div>
  </nav>

</div>
