#header_content{
    background-color: rgb(0, 38, 62);
    padding: 10px;
}
#header_content a, ul{
    font-size: large;
    list-style: none;
    text-decoration: none;
    color: white;
}
.center_item{
    text-align: center;
}
.navbar-toggler{
    color: white;
    margin:auto;
}
.btn-event{
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-header{
    width: 75px;
    margin: 25px;
    padding: 8px;
    border-radius: 2%;
    color: white;
    background-color: rgb(225, 82, 61);
}

