<div class="content_marketing">
  <div class="content_marketing_text">
    <div class="background_blue">
      <h2>Faire une formation pour travailler dans le webmarketing ?</h2>
    </div>
    <p>
      Le webmarketing : On en entend parler et on l’assimile à tout, les buzz, les
      réseaux sociaux, les sites internet
    </p>
    <p>
      Bonne nouvelle ! La définition exacte est proche puisque c’est l’ensemble
      des techniques marketing et publicitaires utilisées dans un environnement
      internet.
    </p>
    <img src="https://img.e-marketing.fr/Img/BREVE/2017/10/321372/marketing-omnicanal-renforce-engagement-consommateur-F.jpg" alt="imgMarketing">
    <p>
      Le webmarketeur va donc utiliser plusieurs techniques afin de promouvoir un
      produit ou service.
    </p>
    <ul>
      <li>L’emailing : envoyer un email groupé à plusieurs contacts.</li>
      <li>Le display : acheter des espaces publicitaires sur internet.</li>
      <li>Les liens sponsorisés : une annonce commerciale.</li>
      <li>Les réseaux sociaux (facebook, twitter, youtube, linkedin).</li>
      <li>
        Des plateformes crées spécialement pour les utilisateurs afin de partager
        une expérience, une idée.
      </li>
    </ul>
    <p>
      Alors qu’il y a quelques année un seul webmarketeur s’occupait de plusieurs
      tâches, aujourd’hui, ce webmarketeur s’est spécialisé, grâce aux différentes
      formation webmarketing. Les entreprises ont dorénavant un spécialiste dans
      chaque tâche : un spécialiste en SEO, un responsable e-réputation, un
      intégrateur.
    </p>
    <img src="https://www.1ere-position.fr/wp-content/uploads/2019/10/search-engine-marketing-sem-seo-sea-smo.png" alt="imageSEO">
    <p>Le digital est un univers qui ne cesse de changer. Alors qu’aujourd’hui nous parlons d’un métier, demain ce même métier aura évolué et les tâches seront différentes.</p>
  </div>
  <div class="content_marketing_text">
    <div class="background_blue">
      <h2>Les compétences pour travailler dans le marketing digital</h2>
    </div>
    <p>Grâce aux formations webmarketing, le webmarketing (ou le chargé de marketing digital) va développer certaines compétences :</p>
    <ul>
      <li>L’analyse : un atout indéniable pour les métiers du web.</li>
      <li>La maitrise technique : connaitre quelques langage est un plus dans la plupart des cas, surtout face à d’autres candidats</li>
      <li>La compétence managériale / organisationnelle : il n’est pas rare de travailler à plusieurs personnes.</li>
    </ul>
    <img src="https://www.mr-entreprise.fr/wp-content/uploads/2018/08/Team-Building-Business.jpg" alt="teambuildingImage">
    <p>Que tu habites à Rennes, Toulouse, Bordeaux, Montpellier, Lyon ou même ailleurs, plus une minute à perdre, viens t’inscrire dans notre école de webmarketing, Digital Campus ! </p>
  </div>
</div>