<div class="content_design">
  <div class="content_design_text">
    <div class="background_yellow">
      <h1>UI Designer : le métier en vogue !</h1>
    </div>
    <p>
      UI Designer ? Un métier 2.0 qui se charge de l’Interface Utilisateur,
      c’est-à-dire de la clarté de la navigation. Ce métier, une déclinaison du
      webdesigner, va principalement être présent pour les sites e-commerce où le
      parcours client est important. 
    </p>
    <img src="https://www.metadosi.fr/wp-content/uploads/2019/11/web-designer.jpg" alt="dessinatrice">
    <p> 
      L’objectif de l’UI Designer est d’améliorer
      l’interface utilisateur et de rendre la navigation du visiteur simple,
      intuitive et facile à comprendre tout en répondant aux charges identitaires
      de la marque. Les métiers d’UX Designer et d’UI Designer sont souvent
      associés, cependant, l’UX va travailler sur l’expérience client tandis que
      l’UI va travailler sur l’aspect du site et le rendu final pour les
      utilisateurs
    </p>
  </div>
  <div class="content_design_text">
    <div class="background_yellow">
      <h2>Les compétences pour devenir UI Designer​</h2>
    </div>
    <p>
      L’UI Designer devra maîtriser plusieurs logiciels de création de type
      Photoshop, Illustrator ou Indesign). 
    </p>
    <img src="https://cache.magicmaman.com/data/photo/w600_h315_c18/44/dessin-enfant.jpg" alt="competences">
    <p> 
      La créativité est donc nécessaire pour
      ce travail. Connaissance basique des langages du web Connaissances des
      tendances dans le web a propos du graphisme. De plus, l’UI devra être
      curieux et avoir de l’appétence pour les nouvelles technologies. Il devra
      être organisé et rigoureux dans ces tâches.
    </p>
  </div>
  <div class="content_design_text">
    <div class="background_yellow">
      <h3>Les missions</h3>
    </div>
    <p>Les missions principales sont :</p>
    <ul>
      <li>
        Études de l’utilisation clients pour identifier les blocages et les points
        d’amélioration,
      </li>
      <li>Élaboration de profil type d’utilisateur,</li>
      <li>Réalisation de maquettes pour les futurs designs,</li>
    </ul>
  </div>
  <div class="content_design_text">
    <div class="background_yellow">
      <h3>Les évolutions</h3> 
    </div>
    <p>
      Le métier de UI Designer va devenir de plus en plus prisé par les
      entreprises du fait que dorénavant les entreprises sont « client first ».,
      Les UI Designer peuvent évoluer vers un métier de chef de projet, ou de
      directeur artistique.
    </p>
    <img src="https://www.webcom-agency.fr/wp-content/uploads/2019/10/CHEF-DE-PROJET2.png" alt="evolutionChef">
  </div>
  <div class="content_design_text">
    <div class="background_yellow">
      <h3>Les entreprises</h3>
    </div>
    <p>
      Le métier d’UI Designer est présent chez les annonceurs, les agences dans le
      pôle communication/marketing de l’entreprise. Et bien sûr, en indépendant.
    </p>
  </div>
  <div class="content_design_text">
    <div class="background_yellow">
      <h3>Les formations</h3>
    </div>
    <p>
      Le métier de UI Designer va devenir de plus en plus prisé par les
      entreprises du fait que dorénavant les entreprises sont « client first ».,
      Les UI Designer peuvent évoluer vers un métier de chef de projet, ou de
      directeur artistique.
    </p>
    <img src="https://images.sudouest.fr/2019/07/11/5d27054366a4bdc15a9b31cf/golden/dossier-partenaire.jpg" alt="formation">
  </div>
</div>