
footer{
  padding: 10px;
  text-align: center;
  background-color: rgb(0, 38, 62);
  color: white;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
a{
  text-decoration: none;
  color: rgb(0, 163, 176);
}
ul{
  padding: 0;
  list-style: none;
}
.center_item{
    text-align: center;
}
.imgResauxSociaux{
  max-width: 50px;
  padding: 10px;
}