<footer>
    <h2>Suivez-nous sur</h2>
    <div>
        <a href="https://www.instagram.com/digitcamp/" target="_blank"><img class="imgResauxSociaux" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/instagram-128.png" alt="logoInstagram"></a>
        <a href="https://www.facebook.com/digital.campus.bordeaux" target="_blank"><img class="imgResauxSociaux" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png" alt="logoFacebook"></a>
        <a href="https://www.linkedin.com/school/digital-campus-bordeaux/" target="_blank"><img class="imgResauxSociaux" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-128.png" alt="logoLinkedin"></a>
        <a href="https://www.youtube.com/user/DigitalCampusWeb" target="_blank"><img class="imgResauxSociaux" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/youtube-128.png" alt="logoYoutube"></a>
        <a href="https://twitter.com/digitcamp" target="_blank"><img class="imgResauxSociaux" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" alt="logoTwitter"></a>
    </div>

    <h2>Nos Campus</h2>
    <div id="grid">
        <a href="https://www.digital-campus.fr/ecole/aix" target="_blank">Aix</a>
        <a href="https://www.digital-campus.fr/ecole/paris" target="_blank">Paris</a>
        <a href="https://www.digital-campus.fr/ecole/bordeaux" target="_blank">Bordeaux</a>
        <a href="https://www.digital-campus.fr/ecole/rennes" target="_blank">Rennes</a>
        <a href="https://www.digital-campus.fr/ecole/lyon" target="_blank">Lyon</a>
        <a href="https://www.digital-campus.fr/ecole/toulouse" target="_blank">Toulouse</a>
        <a href="https://www.digital-campus.fr/ecole/montpellier" target="_blank">Montpellier</a>
        <a href="https://www.digital-campus.fr/ecole/dakar" target="_blank">Dakar</a>
        <a href="https://www.digital-campus.fr/ecole/nantes" target="_blank">Nantes</a>
        <a href="https://www.digital-campus.fr/ecole/la-reunion" target="_blank">La Réunion</a>
    </div>

    <h2>Nos Formations</h2>
    <ul>
        <li><a href="https://www.digital-campus.fr/formation/mastere" target="_blank">Mastère Expert en Stratégie Digital</a></li>
        <li><a href="https://www.digital-campus.fr/formation/bachelor-web" target="_blank">Bachelor Chef de Projet Digital</a></li>
        <li><a href="https://www.digital-campus.fr/formation/prepa-mastere" target="_blank">Prépa Master Digital</a></li>
        <li><a href="https://www.digital-campus.fr/formation-professionnelle-web" target="_blank">Formation Pro</a></li>
    </ul>

    <h2>Liens Rapides</h2>
    <a routerLink="/" routerLinkActive="active">Accueil | </a>
    <a routerLink="actualite">Actualité | </a>
    <a routerLink="labdev">Lab Développement | </a>
    <a routerLink="labmark">Lab Marketing | </a>
    <a routerLink="labdes">Lab Design | </a>
    <a  href="https://www.digital-campus.fr/contact/formulaire-etudiant?utm_source=fb&utm_medium=smo&utm_campaign=20150224-bouton-contact" target="_blank">Contact</a>

    <p>Digital Campus, établissement d’enseignement supérieur technique privé  2020  © <a href="https://ac-projet3-g1.guillaume-meyer.fr/mentions-legales/" target="_blank">Mentions Légales</a></p>
</footer>
