
.content_dev{
    background-image: url(../../../libs/img/wallpaper_accueil.png);
    padding: 25px;
    color: white;
}
.background_green{
    text-align: center;
    color: rgb(0, 38, 62);
    text-shadow: 0px 0px 6px #fff;
    border-radius: 1%;
    padding: 5px;
    background-color: rgb(108, 194, 74);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 15px;
}
.content_dev_text{
    background-color: white;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    border-radius: 1%;
    padding: 15px;
    color: black;
}
img{
    border-radius: 1%;
    margin: auto;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
    max-width: 100%;
}