<div class="content_dev">
  <div class="content_dev_text">
    <div class="background_green">
      <h2>Digital Campus lance son Lab Développement Web !</h2>
    </div>
    <h5>
      En 2020 Digital Campus renforce sa filière Tech à travers son Lab Dev et
      ouvre 2 nouveaux cursus :
    </h5>
    <ul>
      <li>
        1 Bachelor Développement Web en 3 ans, accessible après le Bac et en
        admission possible en 3ème année directe pour les étudiants de niveau
        Bac +2 digital ou informatique
      </li>
      <li>
        1 Mastère Tech Lead en 2 ans, accessible après un Bac +3 digital ou
        informatique
      </li>
    </ul>
    <img
      src="https://ac-projet3-g1.guillaume-meyer.fr/wp-content/uploads/2020/04/Capture.png"
    />
    <p>
      Digital Campus est aujourd’hui reconnu pour son expertise dans la
      formation de gestion de projet digital, de Web marketing, de stratégie
      Digitale, d’UX design, de vidéo et motion design, d’UI, de brand content
      ou encore de data analyse. Nos étudiantes et étudiants, référents et
      partenaires entreprises sont déjà conscients du fort potentiel de notre
      école à former de bons professionnels de la Tech. C’est pour toutes ces
      raisons que nous lançons aujourd‘hui cette nouvelle filière.
    </p>
  </div>
  <div>
    <p>
      Le Bachelor développement web oriente sa pédagogie autour de 7 unités
      d’enseignement : culture, design, développement, marketing, communication,
      gestion de projet et professionnalisation. Bien sûr l’unité d’enseignement
      la plus importante est le développement web avecdes modules progressifs de
      l’année 1 à 3, d’intégration Web/CMS, application web et mobile,
      application informatique et ingénierie technique. Vous serez formés à de
      nombreux outils et langages : HTML CSS, Javascript Jquerry, CMS wordpress,
      PHP, Python, Drupal, algorithmie, architecture de données, sécurisation,
      administration système, Machine learning, React.js etc. 
    </p>
    <img src="https://hackernoon.com/hn-images/1*jd8ZKUWtY1AOMwz2CvZG8A.jpeg" alt="languagesDev">
    <p> 
      La grande spécificité de ce Bachelor est d’allier une expertise Tech, au design, aux
      outils de communication et à la gestion de projet. Toujours dans une
      démarche de Digital Change Makers, les étudiants travailleront sur les
      projets réels portés par nos partenaires, entreprises, institutions et
      associations, dans un souci de faire, de bien faire et de faire avec sens.
      Vous serez également formé à la prise de parole en public et aurez accès à
      de nombreux cours libres sur notre plateforme de elearning DC Learn.
    </p>
    <div class="content_dev_text">
      <div class="background_green">
        <h4>L’alternance est possible dès l’année 2 du Bachelor.</h4>
      </div>
      <p>
        De nombreuses entreprises vous attendent déjà pour intégrées leurs
        équipes sur des missions et métiers variés :
      </p>
      <ul>
        <li>Développeur(euse) front end ou back end,</li>
        <li>Développeur(euse) fullstack,</li>
        <li>Développeur(euse) web,</li>
        <li>Développeur(euse) application mobile,</li>
        <li>Intégrateur(trice) web,</li>
        <li>Chef(fe) de projet tech</li>
        <li>Créative développeur(euse)</li>
      </ul>
      <img src="https://neatoday.org/wp-content/uploads/2013/12/studentcoding2-e1387394449748.jpg" alt="student">
    </div>

    <p>
      Le Mastère Tech Lead, organise sa pédagogie sur le même découpage des 7
      unités d’enseignement que le Bachelor. Cependant les compétences à
      atteindre sont bien différentes. Autant en Bachelor l’essentiel des
      apprentissages sont basés sur la technique et la gestion de projet, autant
      sur le Mastère, l’étudiant expert monte en compétences techniques par le
      renforcement des langages (PHP orienté objet, Android Java, python,
      Javascript/TypeScript…) et des outils, par l’apprentissage de compétences
      stratégiques, pédagogiques et managériales.
    </p>
    <p>
      Le Lead Tech est celui qui va avoir un domaine d’expertise technique tout
      en élevant le niveau de toute l’équipe qu’il dirige vers une excellence et
      une maitrise en donnant l’exemple et cherchant à rendre son équipe
      autonome. Il est décisionnaire dans l’entreprise. Il propose de nouvelles
      opportunités de débouchées grâce à l’innovation technologique. Il sait
      coder, manager son équipe, conseiller et expertiser. Il a des missions CTO
    </p>
  </div>
  <div class="content_dev_text">
    <div class="background_green">
      <h4>Les missions CTO :</h4>
    </div>
    <img src="https://ressources.regionsjob.com/media/620/1440_960/SIISophiaAntipolis_620_636529236007771239.jpeg" alt="techLead">
    <ul>
      <li>
        D’assurer l’innovation des systèmes d’informations de ses clients –
        qu’ils soient internes ou externes – en termes de développement web,
        mobile et informatique, allant de la stratégie technique à mettre en
        place, à l’évaluation des actions qu’il a préconisées en passant par le
        suivi de leur développement.
      </li>
      <li>
        De manager les différents acteurs techniques tout le long du projet.
      </li>
      <li>
        D’être le garant des bonnes pratiques sécurisées et légales tout le long
        de la vie du système d’information choisi.
      </li>
    </ul>
    
    <div class="background_green">
      <h4>Les compétences majeures de ce métier sont :</h4>
    </div>
    <ul>
      <li>Assurer l’innovation d’un dispositif digital.</li>
      <li>
        Piloter et superviser le développement web, mobile et informatique
        d’applications sécurisées.
      </li>
      <li>
        Auditer, élaborer une stratégie de développement et de déploiement d’une
        infrastructure technologique.
      </li>
      <li>Manager des équipes techniques et conduire le changement.</li>
    </ul>
    <p>Les 2 années de Mastère peuvent se faire en alternance.</p>
  </div>
  <div id="blanc">
    <p>
      Dans ce Lab Dev, filière Tech, vous trouverez le meilleur de nos
      intervenants, parrains, partenaires et outils à votre disposition pour
      devenir et rester un professionnel compétent et responsable.
    </p>
    <ul>
      <li>
        Apprendre à apprendre et apprendre à transmettre sont des enseignements
        propres à Digital Campus et largement déployer sur ces deux cursus. Nos
        étudiants apprennent à se former toute la vie et à transmettre leurs
        propres connaissances et compétences auprès de leurs équipes,
        entreprises et clients.
      </li>
      <li>
        Devenir un professionnel du digital implique de grandes responsabilités
        pour notre société, notre économie et notre planète. C’est pourquoi la
        dimension « digital responsable » sera traitée sur l’ensemble des
        matières tant sur le Bachelor que sur le mastère à travers des cours,
        des projets, des ateliers, des conférences et des certifications.
      </li>
    </ul>
    <img src="https://www.mastersoftwaresolutions.com/wp-content/uploads/2014/08/bnr-1.png" alt="programing">
</div>
